.wrapper {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
}

.slider {
  width: 150px;
}

.input {
  width: 40px;
  border-radius: 0.25rem;
  padding: 0.75rem 0;
  text-align: center;
  border: 0;
}
