/* .recipeWrapper {
  position: relative;
  perspective: 3200px;
  margin: 20px;
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
  transition: all 400ms ease;
  width: 300px;
  aspect-ratio: 16/9;
  flex-shrink: 0;
  border-radius: 6px;
}
.recipeWrapper:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-2%);
} */

.recipeWrapper {
  position: relative;
}

.recipeTop,
.recipeContent {
  width: 300px;
  aspect-ratio: 16/9;
  perspective: 3200px;
  flex-shrink: 0;
  box-shadow: var(--shadow);

  border-radius: 0.5rem;
  overflow: hidden;
  background: #fff;
  display: flex;
  position: absolute;
  inset: 0;

  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.recipeTop {
  align-items: end;
  position: relative;
}

.recipeContent {
  padding: 3rem 2rem 0;
  flex-direction: column;

  transform: rotateY(180deg);
}

.recipeWrapper[data-reverse='true'] {
  .recipeTop {
    transform: rotateY(180deg);
  }
  .recipeContent {
    transform: rotateY(0);
  }
}

.ingredients {
  padding-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Maximum number of lines */
  line-clamp: 3;
  -webkit-box-orient: vertical; /*Adds dots at ther end */
}
.stepTitle {
  font-weight: 700;
}
.footer {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.difficulty {
  background-color: rgb(17, 156, 17);
  border-radius: 6px;
  padding: 5px;
}
.preparationTime {
  background-color: red;
  border-radius: 6px;
  padding: 5px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.title {
  font-size: large;
  font-weight: bold;
  z-index: 10;
  text-align: center;
  text-wrap: pretty;
  width: 100%;
  color: white;
  margin: 1rem;
}
.gradient {
  position: absolute;
  background-image: linear-gradient(transparent 60%, black);
  height: 100%;
  width: 100%;
}
.link {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: end;
}

.favoriteButton {
  background-color: transparent;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem;
  width: 40px;
  transition: all 300ms ease;
  z-index: 10;
}
.favoriteButton:hover {
  box-shadow: none;
  filter: drop-shadow(0 0 5px rgb(0, 0, 0, 0.4));
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  margin: 1rem;
  z-index: 10;
  padding: 0.5rem 1rem;
  text-align: center;
}
