.recipeWrapper {
  position: relative;
  transition: all 300ms ease;
}

.recipeWrapper:hover {
  transform: translateY(-2%);
  filter: drop-shadow(rgba(0, 0, 0, 0.5) 0 5px 5px);
}

.recipeTop,
.recipeContent {
  width: 300px;
  aspect-ratio: 16/9;
  perspective: 3200px;
  flex-shrink: 0;
  box-shadow: var(--shadow);

  border-radius: 0.5rem;
  overflow: hidden;
  background: #fff;
  display: flex;
  position: absolute;
  inset: 0;

  transition: transform 0.6s;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.recipeTop {
  align-items: end;
  position: relative;
}

.recipeContent {
  padding: 3rem 2rem 0;
  flex-direction: column;

  transform: rotateY(180deg);
}

.recipeWrapper[data-reverse='true'] {
  .recipeTop {
    transform: rotateY(180deg);
  }
  .recipeContent {
    transform: rotateY(0);
  }
}

.ingredients {
  padding-top: 10px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Maximum number of lines */
  line-clamp: 3;
  -webkit-box-orient: vertical; /*Adds dots at ther end */
}
.stepTitle {
  font-weight: 700;
}
.footer {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
}
.difficulty {
  background-color: rgb(17, 156, 17);
  border-radius: 6px;
  padding: 5px;
}
.preparationTime {
  background-color: red;
  border-radius: 6px;
  padding: 5px;
}

.image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.title {
  font-size: large;
  font-weight: bold;
  z-index: 10;
  text-align: center;
  text-wrap: pretty;
  width: 100%;
  color: white;
  margin: 1rem;
}
.gradient {
  position: absolute;
  background-image: linear-gradient(transparent 60%, black);
  height: 100%;
  width: 100%;
}
.link {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: end;
}

.info {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1rem;
  z-index: 10;
  text-align: center;
  cursor: pointer;
  color: white;
  filter: drop-shadow(rgba(0, 0, 0, 0.8) 0 0 2px) drop-shadow(rgba(0, 0, 0, 0.5) 0 0 2px);
  width: 100%;
  display: flex;
  justify-content: space-between;
  transition: all 300ms ease;
}
.info > *:hover {
  filter: drop-shadow(rgba(0, 0, 0, 0.4) 0 0 5px);
}

.info > * {
  height: 2rem;
  width: 2rem;
  opacity: 0;
  transition: all 300ms ease;
}

.recipeWrapper:hover .info > * {
  opacity: 1;
}
