.profile {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  margin: 2rem;
}

.sideBar {
  width: 300px;
  border-radius: 1rem;
  padding-bottom: 20px;
  background: white;
  text-align: center;
}

.gradiant {
  background-color: var(--clr-primary);
  height: 125px;
  border-radius: 1rem 1rem 0px 0px;
}

.profileImage {
  height: 150px;
  border-radius: 100px;
  margin-top: -75px;
  padding: 5px;
  background: var(--clr-light);
}

.profileTitle {
  font-size: 36px;
  font-weight: 600;
}

.email {
  padding-top: 10px;
}

.country {
  padding-top: 10px;
}

.mainContent {
  background-color: var(--clr-primary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  padding: 3rem;
  gap: 1rem;
}

.sectionTitle {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.5rem 0;
}
