.profile {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 2rem;
  margin: 2rem;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.mainContent {
  background-color: var(--clr-primary);
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
}

.sectionTitle {
  font-size: 1.5em;
  font-weight: 700;
  margin: 0.5rem 0;
}
