.field {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.fieldTitle {
  font-weight: 700;
}

.field input {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: none;
  padding: 0.5rem;
}

.stepContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.stepTitle {
  width: 20%;
}

.stepDescription {
  width: 70%;
}
