.opinionWrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.starsWrapper {
  display: flex;
  gap: 0.5rem;
}

.fullStar,
.emptyStar {
  height: 1em;
  width: 1em;
}

.fullStar {
  color: #ed8a19;
}

.emptyStar {
  color: #8d8d8d;
}

.addButton {
  font-size: 4em;
  font-weight: bold;
  border-radius: 100%;
  border: none;
  width: 5rem;
  height: 5rem;
  color: var(--clr-primary);
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.1);
  transition: all linear 200ms;
}
.addButton:hover,
.addButton:focus {
  background-color: rgba(0, 0, 0, 0.3);
}
