.profileWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 2rem;
}

.profileCard {
  --card-width: 240px;

  background-color: var(--clr-primary);
  padding: 1rem;
  border-radius: 1rem;
}

.profileCard > * {
  display: grid;
  justify-content: center;
  gap: 0.5rem;
  height: 100%;
  width: var(--card-width);
}

.userName {
  font-size: 2em;
  font-weight: 700;
  margin: 0;

  /* Cut text with dots */
  text-overflow: ellipsis;
  overflow: hidden;
  width: var(--card-width);
  height: 1.2em;
  white-space: nowrap;
}

.image {
  width: var(--card-width);
  height: var(--card-width);
  object-fit: cover;
  object-position: center;
  cursor: pointer;
}

.description {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* Maximum number of lines */
  line-clamp: 2;
  -webkit-box-orient: vertical; /*Adds dots at ther end */
}
