.profileInformation {
  padding: 1rem;
  gap: 20px;
}

.profileContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.field {
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.fieldInput {
  background: none;
  border: none;
}

.fieldInput:focus {
  background: none;
  border: none;
  border-bottom: 2px solid black;
}

.fieldTitle {
  font-weight: 700;
}

.updateButton {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.updateButton button {
  height: 40px;
  padding: 10px;
}
